/*
    variables
 */
:root {
    --clr-primary-1-500: hsl(35, 77%, 62%);
    --clr-primary-2-500: hsl(5, 85%, 63%);
    --clr-secondary-1-100: hsl(36, 100%, 99%);
    --clr-secondary-2-300: hsl(233, 8%, 79%);
    --clr-secondary-3-700: hsl(236, 13%, 42%);
    --clr-secondary-4-900: hsl(240, 100%, 5%);

    --fs-base: 15px;
    --fw-base: 400;
    --fw-bold: 700;
    --fw-dark: 800;
    --ff-base: 'Inter', sans-serif;

    --wd-mobile: 375px;
    --wd-desktop: 1440px;

    --container-block-padding: 1rem;
    --container-inline-padding: 1rem;
    --container-gap: 3rem;

    --bezier: cubic-bezier(.21,.9,.59,.69);
}

/* Reset credit to Kevin Powell and from 
CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
    Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    Remove default margin
*/
* {
    margin: 0;
}

/*
    Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/* 
    Set core root defaults 
*/
html:focus-within {
    scroll-behavior: smooth;
}

/*
    Typographic tweaks!
    Add accessible line-height
    Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
    Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 
    Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
*/
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/*
    Remove underline from ul links where role is set to list
*/
ul[role="list"] :is(a:link, a:visited, a:hover, a:active) {
    text-decoration: none;
}

hr {
    border: none;
}

/*
    Remove all animations, transitions and smooth scroll for people that prefer not to see them
*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
    Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/*
    utility classes
*/
.uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.letter-spacing-2 {
    letter-spacing: .2rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1rem);
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-reset a {
    text-decoration: none;
}

/* screen reader only */
.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);

    overflow: hidden;
    
    padding: 0;
    margin: -1px;
    border: 0;
    
    white-space: nowrap;
}

/*
    components
*/
.btn {
    cursor: pointer;
    
    padding: 0.5rem 1rem;

    outline-color: transparent;
    background: var(--clr-primary-2-500);
    color: var(--clr-secondary-1-100);
    font-size: calc(var(--fs-base)*.75);
}

.btn:hover {
    background: var(--clr-secondary-4-900);
}

.btn:focus-visible {
    outline: 3px solid hotpink;
    outline-offset: 3px;
}

/*bespoke site wide settings */
body {
    overflow-x: hidden;

    font-size: var(--fs-normal);
    font-family: var(--ff-base);
    font-weight: var(--fw-base);
}

/* grid areas */
.primary-header {
    grid-area: primary-header;
}

.article-feature {
    grid-area: article-feature;
}

.article-new {
    grid-area: article-new;
}

.article-one {
    grid-area: article-one;
}

.article-two {
    grid-area: article-two;
}

.article-three {
    grid-area: article-three;
}

.attribution {
    grid-area: attribution;
}
/* main layout */
.container {
    grid-template-columns: minmax(10rem, auto);
    grid-template-areas:
        'primary-header'
        'article-feature'
        'article-new'
        'article-one'
        'article-two'
        'article-three'
        'attribution';

    padding-inline: var(--container-inline-padding);
    padding-block: var(--container-block-padding);
    padding: 1rem 1rem;
    margin-inline: auto;

    color: var(--clr-secondary-3-700);
}

/* primary header */
.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    color: var(--clr-secondary-3-700);
}

.primary-navigation a:hover {
    color: var(--clr-primary-2-500);
}

.mobile-nav-toggle{
    display: none;
}

/* feature article */
.article-feature__title {
    align-self: center;
    
    line-height: 1;
    color: var(--clr-secondary-4-900);
    font-size: 3rem;
    font-weight: var(--fw-dark);
}

.article-feature__wrapper .btn {
    place-self: end start;
}

/* new article */
.article-new {
    background: black;
    
    --gap: 0.5rem;
    padding-block-start: 1rem;
}

.article-new :where(div, h2) {
    padding-inline-start: 1rem;
}

.article-new a {
    color: var(--clr-secondary-1-100);
    text-decoration: none;
}

.article-new a:hover {
    color: var(--clr-primary-1-500);
}

.article-new__title {
    color: var(--clr-primary-1-500);
    font-size: calc(var(--fs-base)*2);
}

.article-new > hr {
    border-top: 2px solid var(--clr-secondary-3-700);
}

.article-new__heading {
    padding-bottom: 0.5rem;
    
    color: var(--clr-secondary-1-100);
}

/* numbered articles */
.article-numbered {
    grid-template-columns: 1fr 1.5fr;
}

.article-numbered img {
    width: 100%;
    height: 100%;
}

.article-numbered__heading {
    color: var(--clr-secondary-2-300);
    font-size: 3rem;
}

.article-numbered__subheading {
    color: var(--clr-secondary-4-900);
    font-weight: var(--fw-dark);
    font-size: 1rem;
}

.article-numbered a {
    color: var(--clr-secondary-4-900);
    text-decoration: none;
}

.article-numbered a:hover {
    color: var(--clr-primary-2-500);
}

.attribution {
    padding-top: 5rem;
    place-self: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* media queries */
/* mobile & tablet */
@media (max-width: 35rem) {

    /* slide out mobile menu */
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 35%;
        flex-direction: column;
        flex-wrap: nowrap;
        
        --gap: 1.5rem;
        padding: min(15vh, 10rem) 2rem;
        border: 0;

        transform: translateX(0);

        background: white;
    }
    
    @supports (clip-path: circle(0px)) {
        .primary-navigation {
            clip-path: circle(0px at top right);
            clip-path: circle(0px at top right);
            transition: clip-path ease-in-out 750ms;
        }
    }

    .primary-navigation[data-visible="true"] {
        clip-path: circle(250% at top right);
    }

    .primary-navigation a {
        color: var(--clr-secondary-4-900);
    }

    @keyframes fadeIn {
        0% { opacity: 0; transform: translateX(300px); }
        25% { opacity: 0.2; }
        100% { opacity: 1; transform: translateX(0%); }
    }

    @keyframes fadeOut {
        0% { opacity: 1; transform: translateX(0%); }
        50% { opacity: 0; }
        100% { opacity: 0; transform: translateX(600px); }
    }

    .primary-navigation[data-visible="true"] li {
        /* starting state */
        opacity: 0;
        animation: fadeIn var(--bezier) 750ms forwards;
    }

    .primary-navigation[data-visible="true"] li:nth-child(1) {animation-delay: 0; }
    .primary-navigation[data-visible="true"] li:nth-child(2) {animation-delay: 100ms; }
    .primary-navigation[data-visible="true"] li:nth-child(3) {animation-delay: 200ms; }
    .primary-navigation[data-visible="true"] li:nth-child(4) {animation-delay: 300ms; }
    .primary-navigation[data-visible="true"] li:nth-child(5) {animation-delay: 400ms; }
    .primary-navigation[data-visible="true"] li:nth-child(6) {animation-delay: 500ms; }
    
    .primary-navigation[data-visible="false"] li {
        /* starting state */
        opacity: 1;
        animation: fadeOut var(--bezier) 500ms forwards;
    }

    .primary-navigation[data-visible="false"] {
        transition-delay: 250ms;
    }

    .primary-navigation[data-visible="false"] li:nth-child(6) {animation-delay: 0; }
    .primary-navigation[data-visible="false"] li:nth-child(5) {animation-delay: 100ms; }
    .primary-navigation[data-visible="false"] li:nth-child(4) {animation-delay: 200ms; }
    .primary-navigation[data-visible="false"] li:nth-child(3) {animation-delay: 300ms; }
    .primary-navigation[data-visible="false"] li:nth-child(2) {animation-delay: 400ms; }
    .primary-navigation[data-visible="false"] li:nth-child(1) {animation-delay: 500ms; }

    /* configure mobile toggle hamburger */
    .mobile-nav-toggle {
        display: flex;
        position: absolute;
        z-index: 9999;
        top: var(--container-block-padding);
        right: var(--container-inline-padding);

        border: 0;

        background: transparent;
    }

    .mobile-nav-toggle .line {
        transition:
            y 300ms ease-in 300ms,
            rotate 300ms ease-in,
            opacity 0ms 300ms;
        transform-origin: center;
    }

    .mobile-nav-toggle[aria-expanded="true"] .line {
        transition:
            y 300ms ease-in,
            rotate 300ms ease-in 300ms,
            opacity 0ms 300ms;
    }

    .mobile-nav-toggle[aria-expanded="true"] :is(.line__top, .line__bottom) {
        y: 45px;
    }

    .mobile-nav-toggle[aria-expanded="true"] .line__top {
        rotate: 45deg;
    }

    .mobile-nav-toggle[aria-expanded="true"] .line__middle {
        opacity: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] .line__bottom {
        rotate: -45deg;
    }
}
/* large screen */
@media (min-width: 60rem) {
    .container {
        grid-template-columns: repeat(3, minmax(2.5rem, 25rem));
        grid-template-areas:
            'primary-header primary-header primary-header'
            'article-feature article-feature article-new'
            'article-feature article-feature article-new'
            'article-one article-two article-three'
            'attribution attribution attribution';
        /* --gap: 2rem; */
    }

    /* split feature article details into 2 cols */
    .article-feature__wrapper {
        grid-template-columns: repeat(2, minmax(6rem, auto));
    }
}