/* Reset credit to Kevin Powell and from 
CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
    Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    Remove default margin
*/
* {
    margin: 0;
}

/*
    Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/* 
    Set core root defaults 
*/
html:focus-within {
    scroll-behavior: smooth;
}

/*
    Typographic tweaks!
    Add accessible line-height
    Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
    Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 
Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
*/
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
    Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --clr-primary-1-500: hsl(35, 77%, 62%);
    --clr-primary-2-500: hsl(5, 85%, 63%);

    --clr-secondary-1-100: hsl(36, 100%, 99%);
    --clr-secondary-2-300: hsl(233, 8%, 79%);
    --clr-secondary-3-700: hsl(236, 13%, 42%);
    --clr-secondary-4-900: hsl(240, 100%, 5%);

    --fs-base: 15px;
    --fw-base: 400;
    --fw-bold: 700;
    --fw-dark: 800;
    --ff-base: 'Inter', sans-serif;

    --wd-mobile: 375px;
    --wd-desktop: 1440px;
}

body {
    font-size: var(--fs-normal);
    font-family: var(--ff-base);
    font-weight: var(--fw-base);
}

/* utility classes */
.flex-group {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
}

.flex-col {
    flex-direction: column;
}

.grid-group {
    display: grid;
    gap: 1rem;
}

.grid-col {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.pale-blue-text {
    color: var(--clr-secondary-3-700);
}

/* components */
.btn {
    margin-block: 1rem;
    padding: .5rem 1rem;
    outline-color: transparent;

    background: var(--clr-primary-2-500);
    color: var(--clr-secondary-1-100);
    font-size: calc(var(--fs-base)*.75);
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.btn:focus-visible {
    outline: 3px solid hotpink;
    outline-offset: 3px;
}

/* main layout */
.layout {
    /* --margin-mobile: 1rem; */
    --margin-desktop: 4rem;
    /* --padding: 0.5rem; */
    height: 100%;
    border: 3px solid firebrick;
    display: grid;
    grid-template-areas:
        'nav'
        'article-main__image'
        'article-main__title'
        'article-main__content'
        'article-new'
        'article-01'
        'article-02'
        'article-03'
        'attribution';
    gap: 1rem;

    padding: 3rem 1.5rem;
    min-width: var(--wd-mobile);
    width: min(95%, 90rem);
    margin-inline: auto;
}

.nav {
    grid-area: nav;
}

/* .article-main {
    grid-area: article-main;
} */

.article-main__image {
    grid-area: article-main__image;
}

.article-main__title {
    grid-area: article-main__title;
}

.article-main__content {
    grid-area: article-main__content;
}

.article-new {
    grid-area: article-new;
}

.article-01 {
    grid-area: article-01;
}

.article-02 {
    grid-area: article-02;
}

.article-03 {
    grid-area: article-03;
}

.attribution {
    grid-area: attribution;
}

.article-main {
    /* display: grid; */
    /* grid-template-columns: auto; */
}

.bb {
    border-bottom: 1px solid white;
}

@media (min-width: 30rem) {
    .layout {
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        /* grid-auto-flow: column; */
        grid-template-areas:
            'nav nav nav'
            'article-main__image . article-new'
            'article-main__title article-main__content article-new'
            'article-01 article-02 article-03'
            'attribution attribution attribution';
    }

    .article-main {
        display: flex;
        flex-direction: column;
    }

    .article-main__content {
        display: flex;
    }
}

/* .article-main {
        display: grid;
        grid-auto-flow: column;
        /* grid-template-columns: 375px 375px; */
/* grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
vertical-align: middle;
place-items: center;
grid-template-areas: 'article-main__image article-main__image'
'article-main__title article-main__content';
*/
/* } */


/* nav bar */
.nav {
    justify-content: space-between;
    align-items: center;
    /* padding-block: var(--nav-padding); */
}

.nav ul {
    gap: 0.5rem;
    justify-content: right;
}

ul a {
    text-decoration: none;
    color: var(--clr-secondary-3-700);
}

/* articles section */
article {
    /* margin-bottom: 1rem; */
}

/* main article */
.article-main__title {
    font-size: calc(var(--fs-base)*3);
    font-weight: var(--fw-dark);
    margin-top: 1rem;
}

/* article - new */
.article-new {
    background: black;
    padding: 1rem 2rem;
    gap: 2rem;
}

.article-new__title {
    color: var(--clr-primary-1-500);
    font-size: calc(var(--fs-base)*2);
    /* margin-bottom: 1rem; */
}

.article-new__heading {
    color: var(--clr-secondary-1-100);
    font-size: calc(var(--fs-base)*1);
}

/* article - numbered */
.article-01,
.article-02,
.article-03 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'article-num__pic article-num__content'
}

.article-num__content {
    gap: 0.25rem;
}

.article_num__heading {
    color: var(--clr-secondary-2-300);
    font-size: calc(var(--fs-base)*3);

}

.article_num__sub-heading {
    font-size: calc(var(--fs-base)*1.15);
    font-weight: var(--fw-dark);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}